<form class="ui form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
    <app-input inputType="email" [control]="emailForm.get('to')" label="To"></app-input>
    <app-input inputType="email" [control]="emailForm.get('from')" label="From"></app-input>
    <app-input inputType="text" [control]="emailForm.get('subject')" label="Subject"></app-input>
    <app-input controlType="textarea" [control]="emailForm.get('text')" label="Content"></app-input>
    <button class="ui button primary">Send</button>
</form>